<% team = @team || @team %>
<% context ||= team %>
<% collection ||= :organizations %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% with_attribute_settings object: organization do %>
  <tr data-id="<%= organization.id %>">
    <%= render "shared/tables/checkbox", object: organization %>
    <td><%= render 'shared/attributes/text', attribute: :name, url: [:account, organization] %></td>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
    <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
    <td class="buttons">
      <% unless hide_actions %>
        <% if can? :edit, organization %>
          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, organization], class: 'button-secondary button-smaller' %>
        <% end %>
        <% if can? :destroy, organization %>
          <%= button_to t('.buttons.shorthand.destroy'), [:account, organization], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(organization)) }, class: 'button-secondary button-smaller' %>
        <% end %>
        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
      <% end %>
    </td>
  </tr>
<% end %>
